doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Stimulity
  body
    noscript You need to enable JavaScript to run this app.
    #unsupported(hidden) Your browser is unsupported.
    #app
    script Object.assign || document.getElementById('unsupported').removeAttribute('hidden')
    script(src="main.js")