$widescreen-enabled: false
$fullhd-enabled: false
$body-overflow-y: visible

@import 'bulma/sass/utilities/_all'
@import 'bulma/sass/base/_all'
@import 'bulma/sass/elements/container'
@import 'bulma/sass/elements/content'
@import 'bulma/sass/elements/title'
@import 'bulma/sass/components/card'
@import 'bulma/sass/grid/columns'
@import 'bulma/sass/layout/section'

$size-8: $size-6 / 2

body
  -webkit-tap-highlight-color: transparent

a
  outline: none

.columns
  margin-left: 0
  margin-right: 0

.card
  overflow: hidden

.card-image
  min-height: 200px
  overflow: hidden
  @media (orientation: portrait)
    min-height: 300px

.overlay
  +overlay
  margin: auto

.bottom-text
  +block
  top: auto

.separator
  width: 1px
  height: auto
  @media (orientation: portrait)
    width: auto
    height: 1px

.separator-large
  width: 20%
  height: auto
  @media (orientation: portrait)
    width: auto
    height: 20%

.has-height-equal
  height: 100%

.has-margin-start-end
  margin: 10% auto
  @media (orientation: portrait)
    margin: auto 10%

.has-round
  border-radius: $radius-large

.has-round-large
  border-radius: $radius-large * 2

.is-circle
  width: $size-6
  height: $size-6
  border-radius: $size-6
  .card &
    width: $size-8
    height: $size-8
    border-radius: $size-8
  @media (orientation: portrait)
    width: $size-7
    height: $size-7
    border-radius: $size-7

.is-number
  font-size: $size-1 * 2
  height: $size-1 * 2
  line-height: $size-1 * 2
  .card &
    font-size: $size-1
    height: $size-1
    line-height: $size-1
  @media (orientation: portrait)
    font-size: $size-1 * 1.5
    height: $size-1 * 1.5
    line-height: $size-1 * 1.5

.is-square
  width: 10vmax
  height: 10vmax
  .card &
    width: $size-2
    height: $size-2

.is-target
  border: $red dashed $radius
  .card &
    border-width: $radius / 2

.is-left
  right: 50%

.is-right
  left: 50%

.is-left-small
  right: 60%

.is-right-small
  left: 60%

.is-left-large
  right: 40%

.is-right-large
  left: 40%

=start($size: 50%)
  right: $size
  @media (orientation: portrait)
    right: 0
    bottom: $size

=end($size: 50%)
  left: $size
  @media (orientation: portrait)
    top: $size
    left: 0

.is-start
  +start

.is-end
  +end

.is-start-small
  +start(60%)

.is-end-small
  +end(60%)

.is-start-large
  +start(40%)

.is-end-large
  +end(40%)

.scale-fade-enter-active, .scale-fade-leave-active
  transition: all 150ms

.scale-fade-enter, .scale-fade-leave-to
  transform: scale(0.7)
  opacity: 0

@keyframes click-well
  0%
    opacity: 0
    transform: translate3d(-555%, 0, 0)
  10%
    opacity: 1
  100%
    transform: translate3d(250%, 0, 0)

.is-click-well-target
  transform: translate3d(250%, 0, 0)

@media (orientation: portrait)
  @keyframes click-well
    0%
      opacity: 0
      transform: translate3d(0, -555%, 0)
    10%
      opacity: 1
    100%
      transform: translate3d(0, 250%, 0)

  .is-click-well-target
    transform: translate3d(0, 250%, 0)

@keyframes stopped-or-not-normal
  0%
    opacity: 0
    transform: translate3d(-400%, 0, 0)
  10%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0
    transform: translate3d(400%, 0, 0)

@keyframes stopped-or-not-stopped
  0%
    opacity: 0
    transform: translate3d(-400%, 0, 0)
  10%
    opacity: 1
  40%
    transform: translate3d(0, 0, 0)
  60%
    transform: translate3d(0, 0, 0)
  90%
    opacity: 1
  100%
    opacity: 0
    transform: translate3d(400%, 0, 0)

@media (orientation: portrait)
  @keyframes stopped-or-not-normal
    0%
      opacity: 0
      transform: translate3d(0, -400%, 0)
    10%
      opacity: 1
    90%
      opacity: 1
    100%
      opacity: 0
      transform: translate3d(0, 400%, 0)

  @keyframes stopped-or-not-stopped
    0%
      opacity: 0
      transform: translate3d(0, -400%, 0)
    10%
      opacity: 1
    40%
      transform: translate3d(0, 0, 0)
    60%
      transform: translate3d(0, 0, 0)
    90%
      opacity: 1
    100%
      opacity: 0
      transform: translate3d(0, 400%, 0)