<template lang="pug">
.overlay.is-clipped.has-background-grey.has-text-centered
  .overlay.card.is-square.has-round(v-if="active"
    :style="{ animation: 'click-well linear ' + duration + 'ms' }"
    @animationstart="startTime = Date.now()")
  .overlay.card.is-end-large
  .overlay.is-square.is-target.is-click-well-target.has-round
  .overlay.bottom-text(v-if="!card") {{ score }}
  .overlay(v-if="!card" @click="handle")
</template>

<script>
import random from 'lodash/random'
import sortedIndex from 'lodash/sortedIndex'

export default {
  data: () => ({
    score: 0,
    startTime: 0,
    duration: 0,
    active: true
  }),
  methods: {
    handle() {
      const time = Date.now() - this.startTime - this.duration
      const delay = Math.max(0, 10 - Math.abs(time / 100 | 0))
      this.score += sortedIndex([2, 7], delay) * 5
      this.duration = random(10, 30) * 100
      this.active = false
      this.$nextTick(() => this.active = true)
      if(this.card) setTimeout(this.handle, this.duration + 200)
    }
  },
  mounted() {
    this.handle()
  },
  props: ['card']
}
</script>