<template lang="pug">
.overlay.is-clipped.has-text-centered
  .overlay.separator.has-background-grey-light.has-margin-start-end
  .overlay.bottom-text(v-if="!card") {{ score }}
  NumberPanel.overlay.is-start(:number="leftNumber")
  NumberPanel.overlay.is-end(:number="rightNumber")
  .overlay.is-start(v-if="!card" @click="handle(false)")
  .overlay.is-end(v-if="!card" @click="handle(true)")
</template>

<script>
import random from 'lodash/random'
import NumberPanel from '../components/NumberPanel.vue'

export default {
  components: {
    NumberPanel
  },
  data: () => ({
    score: 0,
    leftNumber: 0,
    rightNumber: 0
  }),
  methods: {
    handle(isInputRight) {
      const isElementRight = this.rightNumber > this.leftNumber
      if (isElementRight === isInputRight) this.score += 1

      let left = 0, right = 0
      while (left === right
          || this.leftNumber === left
          || this.rightNumber === right
          || Math.abs(left - right) > 2) {
        left = random(1, 20)
        right = random(1, 20)
      }
      this.leftNumber = left
      this.rightNumber = right

      if(this.card) setTimeout(this.handle, 2000)
    }
  },
  mounted() {
    this.handle()
  },
  props: ['card']
}
</script>