<template lang="pug">
.container
  .section
    .title.has-text-centered Stimulity
  .columns.is-multiline
    .column.is-one-third(v-for="task in tasks")
      .card.has-height-equal.has-round-large
        router-link(:to="task.name")
          .card-image
            component(:is="task.name" card)
          .card-content
            .title.is-4.is-spaced {{ task.title }}
            .subtitle.is-6 {{ task.description }}
  .section
</template>

<script>
import ClickWell from './ClickWell.vue'
import CompareNumbers from './CompareNumbers.vue'
import StoppedOrNot from './StoppedOrNot.vue'

export default {
  components: {
    ClickWell,
    CompareNumbers,
    StoppedOrNot
  },
  data: () => ({
    tasks: [
      {
        name: 'StoppedOrNot',
        title: 'Stopped or Not',
        description: 'Click the stopped side if the box stopped below the wall.'
      },
      {
        name: 'ClickWell',
        title: 'Click Well',
        description: 'Click when the box reaches the red target.'
      },
      {
        name: 'CompareNumbers',
        title: 'Compare Numbers',
        description: 'Compare sides, click the big number.'
      }
    ]
  })
}
</script>