<template lang="pug">
.overlay.is-clipped.has-background-grey.has-text-centered
  .overlay.card.is-square.has-round(v-if="active"
    :style="{ animation: 'stopped-or-not' + (stopped ? '-stopped' : '-normal') + ' ' + duration + 'ms linear ' + (reverse ? 'reverse' : '') }")
  .overlay.card.separator-large
  .overlay.bottom-text(v-if="!card") {{ score }}
  .overlay.bottom-text.is-left-small(v-if="!card") Stopped
  .overlay.bottom-text.is-right-small(v-if="!card") not Stopped
  .overlay.is-left-small(v-if="!card" @click="handle(false)")
  .overlay.is-right-small(v-if="!card" @click="handle(true)")
</template>

<script>
import random from 'lodash/random'

export default {
  data: () => ({
    score: 0,
    duration: 0,
    stopped: false,
    reverse: false,
    active: true
  }),
  methods: {
    handle(isInputNormal) {
      const isNormal = this.stopped === false
      if (isNormal === isInputNormal) this.score++
      this.duration = random(20, 40) * 100
      this.stopped = Math.random() < .5
      this.reverse = Math.random() < .5
      this.active = false
      this.$nextTick(() => this.active = true)
      if (this.card) setTimeout(this.handle, this.duration + 200)
    }
  },
  mounted() {
    this.handle()
  },
  props: ['card']
}
</script>