<template lang="pug">
transition(name="scale-fade" mode="out-in")
  div(:key="number")
    .overlay.is-number.has-text-black(v-if="text") {{ text }}
    .overlay.is-circle.has-background-black(v-for="circle in circles"
      :style="{ transform: 'translate(' + circle.x + '%,' + circle.y + '%)' }")
</template>

<script>
import random from 'lodash/random'
import times from 'lodash/times'

export default {
  data: () => ({
    text: '',
    circles: []
  }),
  watch: {
    number(n) {
      if (Math.random() > 1/3) {
        if (Math.random() > 1/2) {
          this.text = n
        } else {
          const first = random(n), second = n - first
          this.text = first + '+' + second
        }
        this.circles = []
      } else {
        const circles = []
        times(n, () => {
          let x = 0, y = 0
          while (circles.some(circle => (circle.x - x) ** 2 + (circle.y - y) ** 2 < 150 ** 2)) {
            const a = Math.random() * 2 * Math.PI
            const r = Math.sqrt(Math.random() * 250000 | 0)
            x = Math.floor(r * Math.cos(a))
            y = Math.floor(r * Math.sin(a))
          }
          circles.push({ x: x, y: y })
        })
        this.circles = circles
        this.text = ''
      }
    }
  },
  props: ['number']
}
</script>